@font-face {
    
    font-family: basicLatin;
    src: url("fonts/CursedTimerULiL.ttf")
    
}
body {
    background-image: url("fotos/arena.jpg");
    background-size: cover;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0;
    display: flex; 
    align-items: cenetr; 
    justify-content: center;
    
}

.container {
    width: 550px;
    min-width: 320px;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    padding: 4em 4em;
    margin: 100px auto;
    color: white;

}
h3 {
    font-size: 3rem;
    margin: 4px
}
#hp-el, #gp-el {
    font-family: basicLatin ;
    width: 21%;
    height: 18%;
    background: black;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0.62em;
    padding: 1.1em;
    border-radius: 10px; 
}
button {
    background :#1B244A;
    color: white;
    padding: 8px 12px ;
    border: 1px solid white ;
    border-radius: 10px;
    margin-top: 20px;
    
    
}
#gp-el {
    position: relative;
    left: 9px;
}
#new {
   height: 40px;
    width: 70px;
    display: flex;
    align-items: center;

    

}